* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* TO DO 

- make variables for colors
- how to create fonts in React, should I create a seperate file?



*/

body {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #f5f7fb;
	font-family: 'Inter', sans-serif;
}

/* FIRST SCREEN, GAME IS NOT STARTED */

header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	align-items: center;
	justify-content: center;

	padding: 200px;
	width: 100vw;
	height: 100vh;
}

.title {
	font-family: 'Karla', sans-serif;
	color: #293264;
	font-size: 3rem;
	margin-bottom: 20px;
}

.description {
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #293264;
	/* doodalem to przed chwila jak jakis error to wyjebac to */
	white-space: nowrap;
}

.start {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 16px;
	width: 220px;
	padding: 1em;
	margin: 2em;
	border-radius: 5000px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #f5f7fb;
	background-color: #4d5b9e;
}

.blob1 {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 200px;
}

.blob2 {
	position: fixed;
	top: 0;
	right: 0;
	width: 200px;
	height: 200px;
}

.title {
	font-size: 4rem;
}
.description {
	font-size: 1.5rem;
}
.start {
	font-size: 1.3rem;
}

/* SECOND SCREEN, GAME HAS ALREADY STARTED */

.game {
	display: grid;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

hr {
	margin: 20px;
}

.question {
	font-family: 'Karla', sans-serif;
	white-space: nowrap;
	font-weight: 700;
	font-size: 15px;
	text-wrap: wrap;
	line-height: 19px;
}

.answer {
	font-family: 'Inter', sans-serif;
	white-space: nowrap;
	display: inline-block;
	color: #293264;
	margin-right: 8px;
	margin-top: 10px;
	padding: 7px 20px;
	text-align: center;
	border-radius: 8px;
	border: 0.8px solid #4d5b9e;
	outline: none;
	cursor: pointer;
}

.check-answer {
	display: inline-block;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 600;
	background-color: #4d5b9e;
	color: #f5f7fb;
	border-radius: 8px;
	border: 0.8px solid #4d5b9e;
	width: 150px;
	height: 40px;
	border-style: none;
	box-sizing: border-box;
	cursor: pointer;
	line-height: 20px;
	list-style: none;
	outline: none;
	/* padding: 8px 16px; */
	text-align: center;
	text-decoration: none;
	margin: 10px;
}

.final-result {
	display: inline-block;
	white-space: nowrap;
	text-wrap: wrap;
	margin-top: 12px;
	font-size: 20px;
	text-align: center;
}

.answer:focus {
	background-color: #d6dbf5;
}

.blob1-game {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
}
.blob2-game {
	position: fixed;
	top: 0;
	right: 0;
	width: 70px;
	height: 50px;
}

/* MEDIA QUERIES */

@media (width: 540px) and (height: 720px) {
	/* Styles for Surface Duo */
	header {
		padding: 100px;
	}
}

@media (width: 280px) and (height: 653px) {
	/* Styles for Galaxy Fold */
	header {
		padding: 100px;
	}
	.title {
		font-size: 60px;
	}
	.description {
		font-size: 20px;
	}
}
@media (width: 390px) and (height: 844px) {
	/* Styles for iPhone 12 Pro */
	.game {
		margin-top: 140px;
	}
	.blob1-game {
		width: 120px;
		height: 120px;
	}
	.blob2-game {
		width: 120px;
		height: 120px;
	}
}

@media (max-width: 360px) {
	.title {
		margin-top: 100px;
	}

	.description {
		margin-bottom: -20px;
	}
	.start {
		margin-bottom: 80px;
	}

	.game {
		margin-top: 35px;
	}

	.blob1-game {
		width: 50px;
		height: 50px;
	}
	.blob2-game {
		width: 45px;
		height: 30px;
	}
}

@media (min-width: 412px) and (max-width: 820px) {
	.title {
		margin-top: 190px;
	}

	.description {
		margin-bottom: -20px;
	}
	.start {
		margin-bottom: 80px;
	}
	.game {
		margin-top: 170px;
	}

	.check-answer {
		margin: 50px;
	}

	.question {
		font-size: 17px;
	}
	.answer {
		font-size: 14px;
	}

	.blob1-game {
		width: 130px;
		height: 130px;
	}
	.blob2-game {
		width: 130px;
		height: 130px;
	}
}

@media (min-width: 767px) and (max-width: 1024px) {
	.title {
		margin-top: 350px;
	}

	.description {
		margin-bottom: 10px;
	}
	.start {
		margin-bottom: 550px;
	}
}
@media (min-width: 1027px) and (max-width: 1200px) {
	header {
		padding: 400px;
	}

	.title {
		margin-top: 70px;
	}

	.description {
		margin-bottom: 10px;
	}
	.start {
		margin-bottom: 550px;
	}
}

@media (min-width: 1200px) {
	.title {
		margin-top: 300px;
	}

	.description {
		margin-bottom: 10px;
	}
	.start {
		margin-bottom: 550px;
	}
}

/* 
@media (min-width: 280px) and (max-width: 340px) {
	header {
		padding: 200px;
	}
}

@media (min-width: 350px) and (max-width: 575px) {
	header {
		padding: 300px;
	}
}

@media (min-width: 576px) {
	header {
		padding: 400px;
	}

	.blob1 {
		height: 230px;
		width: 350px;
		display: none;
	}
	.blob2 {
		height: 190px;
		width: 230px;
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	header {
		padding: 350px;
	}

	.blob1 {
		position: fixed;
		bottom: 0;
		left: 0;
		transform: translate(-50%, -50%);
		height: 180px;
		width: 220px;
	}
	.blob2 {
		height: 190px;
		width: 230px;
	}
}

@media (min-width: 1024px) and (max-width: 1400px) {
	header {
		padding: 600px;
	}
	.blob1 {
		height: 180px;
		width: 220px;
	}
	.blob2 {
		height: 190px;
		width: 230px;
	}
} */
