* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* TO DO 

- make variables for colors
- how to create fonts in React, should I create a seperate file?



*/

body {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #f5f7fb;
	font-family: 'Inter', sans-serif;
}

header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	align-items: center;
	justify-content: center;

	padding: 200px;
	width: 100vw;
	height: 100vh;
}

.title {
	font-family: 'Karla', sans-serif;
	color: #293264;
	font-size: 3rem;
	margin-bottom: 20px;
}

.description {
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #293264;
}

.start {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 16px;
	width: 220px;
	padding: 1em;
	margin: 2em;
	border-radius: 5000px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #f5f7fb;
	background-color: #4d5b9e;
}

.blob1 {
	position: fixed;
	bottom: 0;
	left: 0;

	width: 200px;
	height: 200px;
}

.blob2 {
	position: fixed;
	top: 0;
	right: 0;
	width: 200px;
	height: 200px;
}

.title {
	font-size: 4rem;
}
.description {
	font-size: 1.5rem;
}
.start {
	font-size: 1.3rem;
}

@media (min-width: 350px) and (max-width: 575px) {
	header {
		padding: 300px;
	}
}

@media (min-width: 576px) {
	header {
		padding: 400px;
	}

	.blob1 {
		height: 230px;
		width: 350px;
	}
	.blob2 {
		height: 190px;
		width: 230px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	header {
		padding: 50px;
	}
	.blob1 {
		height: 180px;
		width: 220px;
	}
	.blob2 {
		height: 190px;
		width: 230px;
	}
}

@media (min-width: 1024px) and (max-width: 1400px) {
	header {
		padding: 600px;
	}
	.blob1 {
		height: 180px;
		width: 220px;
	}
	.blob2 {
		height: 190px;
		width: 230px;
	}
}

/* @media (min-width: 300px) {
	header {
		top: 50%;
		right: 50%;
		transform: translate(-40%, -50%);
		padding: 50px;
	}

	.blob1 {
		width: 300px;
		height: 300px;
		top: 350px;
	}
}

@media (min-width: 380px) {
	.blob1 {
		width: 300px;
		height: 300px;
		top: 650px;
	}
	.blob2 {
		left: 80%;
		bottom: 140%;
		width: 400px;
		height: 350px;
	}
}

@media (min-width: 414px) {
	header {
		top: 50%;
		right: 50%;
		transform: translate(-30%, -30%);
		padding: 50px;
	}

	.blob2 {
		bottom: 500px;
	}
} */

/* DESKTOP */
/* @media (min-width: 992px) {
	header {
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 50px;
	}
	.blob1 {
		width: 500px;
		height: 500px;
	}
	.blob2 {
		width: 500px;
		height: 400px;
	}
} */
