* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* TO DO 

- make variables for colors
- how to create fonts in React, should I create a seperate file?



*/

body {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #f5f7fb;
	font-family: 'Inter', sans-serif;
}

header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	align-items: center;
	justify-content: center;
	width: 350px;
	height: 300px;
	padding: 85px;
}

.title {
	font-family: 'Karla', sans-serif;
	color: #293264;
	font-size: 3rem;
	margin-bottom: 20px;
}

.description {
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #293264;
}

.start {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 16px;
	width: 220px;
	padding: 1em;
	margin: 2em;
	border-radius: 5000px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #f5f7fb;
	background-color: #4d5b9e;
}

.blobs {
	display: flex;
	align-items: center;
	justify-content: center;
}

.blob1 {
	position: absolute;
	width: 140px;
	height: 150px;
	bottom: -210px;
	left: -50px;
}
.blob2 {
	position: absolute;
	width: 140px;
	height: 150px;
	top: -240px;
	right: -50px;
}

/* .blob1 {
	position: absolute;
	right: 80%;
	top: 110%;

	width: 230px;
	height: 220px;
}

.blob2 {
	position: absolute;
	left: 70%;
	bottom: 100%;

	width: 340px;
	height: 350px;
} */

/* // Small devices (landscape phones, 576px and up) */
/* @media (max-width: 1000px) {
	header {
		transform: translate(-30%, -50%);
		padding: 200px;
	}

	.title {
		font-size: 4rem;
	}
	.description {
		font-size: 1.5rem;
	}
	.start {
		font-size: 1.3rem;
	}

	.blob1 {
		width: 300px;
		height: 300px;
		top: 650px;
	}
} */

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* 
// X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}

/* DESKTOP */
/* @media (min-width: 992px) {
	header {
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 50px;
	}
	.blob1 {
		width: 500px;
		height: 500px;
		right: 1100px;
		top: 500px;
	}
	.blob2 {
		width: 500px;
		height: 400px;
		left: 1050px;
		bottom: 550px;
	}
} */

/* MOBILE */
/* 
@media (min-width: 300px) {
	header {
		top: 50%;
		right: 50%;
		transform: translate(-30%, -50%);
		padding: 50px;
	}

	.blob1 {
		width: 300px;
		height: 300px;
		top: 450px;
	}
}
@media (min-width: 380px) {
	.blob1 {
		width: 300px;
		height: 300px;
		top: 650px;
	}
	.blob2 {
		left: 80%;
		bottom: 140%;
		width: 400px;
		height: 350px;
	}
}

@media (min-width: 414px) {
	header {
		top: 50%;
		right: 50%;
		transform: translate(-30%, -30%);
		padding: 50px;
	}

	.blob2 {
		bottom: 500px;
	}
} */
